@import "colors";

.admin-area {
  padding: 20px;

  h2 {
    margin-bottom: 20px;
  }

  .panel {
    nav {
      display: flex;
      flex-direction: column;

      a, p {
        width: 40%;

        padding: 5px;
        font-size: 1.25rem;
        color: #778da9;

        transition: .25s ease-in-out;

        &:hover {
          transform: translateX(20px);
        }
      }
    }
  }

  .configuration {
    display: flex;
    flex-direction: row;

    gap: 0 40px;

    &_config-block {
      display: flex;
      flex-direction: column;
      gap: 5px 0;

      h2 {
        margin: 0;
      }

      hr {
        margin: 5px 0 10px 0;
      }
    }

    button.save-configuration {
      position: absolute;
      bottom: 2vh;
      right: 2vw;
    }
  }

  .users {
    ul {
      list-style: none;

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      gap: 10px 20px;

      li {
        border: 2px solid $border-color;
        border-radius: $panel-border-radius;

        padding: 10px 10px 8px 15px;

        display: flex;
        flex-direction: column;

        transition: .25s ease-in-out;

        &:hover {
          transform: scale(1.05);
          cursor: pointer;
        }
      }

      li.new-user {
        flex-basis: 5%;

        align-items: center;
        justify-content: center;
      }

      li.user-card {
        flex-basis: 12%;

        &__inactive {
          opacity: 0.55;

          hr {
            color: firebrick;
          }
        }

        &__active {
          hr {
            color: green;
          }
        }

        hr {
          align-self: end;
          width: 20%;
          margin: 5px 0 0 0;
        }
      }

    }

    hr {
      margin: 20px 0;
    }
  }
}

.edit-dialog {
  display: flex;
  flex-direction: row;

  gap: 0 20px;

  justify-content: space-evenly;

  hr {
    margin: 10px 0 20px 0;
  }

  &_primary-info {
    flex-basis: 20%;

    display: flex;
    flex-direction: column;

    gap: 10px 0;
  }

  &_permissions-info {
    flex-basis: 50%;

    display: flex;
    flex-direction: column;

    gap: 10px 0;
  }

  &_security-info {
    flex-basis: 20%;

    display: flex;
    flex-direction: column;

    gap: 10px 0;
  }
}