@import "colors";

.agents-viewer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;

  h1 {
    margin: 0 0 2vh 0;
    border-bottom: 1px solid $border-color;
  }

  ul.agent-cards-list {
    margin: 10px 0;

    width: 100%;

    list-style: none;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    gap: 10px;

    &__idle {
      opacity: 0.75;
    }

    .agent-card {
      flex-basis: 18%;
      width: 350px;

      border: 1px solid $border-color;
      border-radius: 5px;

      padding: 5px 10px;

      &_identity {
        h3 {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        p {
          font-size: 0.8rem;
          opacity: 0.65;
        }
      }

      &_net {
        margin-top: 10px;
        padding-bottom: 5px;
        border-bottom: 1px solid $border-color;

        p {
          font-size: 0.8rem;
          opacity: 0.65;
        }
      }

      &_tags {
        margin-top: 10px;

        table {
          width: 100%;

          td.keys {
            text-align: start;
            opacity: 0.85;
          }

          td.values {
            text-align: end;
            font-weight: bold;
          }
        }
      }

      &_jobs {
        margin-top: 10px;

        table {
          width: 100%;

          td.keys {
            text-align: start;
            opacity: 0.85;
          }

          td.values {
            text-align: end;
            font-weight: bold;
          }
        }


      }

      transition: .25s ease-in-out;

      &:hover {
        cursor: pointer;
        transform: scale(1.025);
        box-shadow: $popup-box-shadow;
      }
    }
  }
}

p.agent-uuid {
  font-size: 1rem;
}

p.agent-status {
  font-size: 1rem;

  b.error {
    color: $color-danger;
  }

  b.success {
    color: $color-success;
  }
}

p.user-option {
  i {
    font-size: 0.85rem;
    opacity: 0.55;
  }
}