@import "colors";

.blacklists_stats {
  height: 100%;
  padding: 0 20px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  h2 {
    margin-top: 20px;
  }

  &_actions {
    flex-basis: 25vw;
    min-width: 400px;

    nav {
      display: flex;
      flex-direction: column;
      gap: 2px;

      margin-top: 20px;

      a, p {
        width: 40%;

        padding: 5px;
        font-size: 1.25rem;
        color: #778da9;

        transition: .25s ease-in-out;

        &:hover {
          transform: translateX(20px);
        }
      }
    }
  }

  &_graphs {
    flex-basis: 75vw;
    min-width: 1200px;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;

    gap: 15px;
    padding-left: 25px;

    border-left: $panel-border;

    &_created, &_discovered {
      width: 100%;

      display: flex;
      flex-direction: row;
      gap: 0 15px;
    }

    .graph-container {
      flex-basis: 45%;
      flex-grow: 2;

      border: $panel-border;
      border-radius: $panel-border-radius;

      h3 {
        margin: 10px 15px;
      }
    }
  }
}

.blacklists_viewer, .blacklists_exporter {
  height: 100%;

  display: flex;
  flex-direction: row;

  &_filter {
    width: 20vw;
    min-width: 250px;
    max-width: 400px;

    height: 100%;

    padding: 0 15px;

    border-right: 1px solid #1b263b;

    &_form {
      display: flex;
      gap: 15px;

      hr {
        border: 1px solid #1b263b;
        margin: 10px 0;
        width: 60%;
        align-self: center;
      }
    }

    .search-buttons {
      display: flex;
      flex-direction: row;
    }
  }

  &_content {
    padding: 20px 15px;
    width: 85vw;

    display: flex;
    flex-direction: column;

    gap: 10px;

    &_domains, &_urls, &_ips {
      flex-basis: 30%;

      border: 1px solid #1b263b;

      animation: createBox .5s;

      &__hidden {
        visibility: hidden;
        opacity: 0;
      }
    }
  }
}

.blacklists_importer {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;

  &_form {
    flex-basis: 30%;
    height: 96vh;

    display: flex;
    align-items: start;
    justify-content: start;

    padding: 0 25px;

    border-right: 1px solid #1b263b;

    h2 {
      margin-top: 20px;
    }

    hr {
      margin: 10px 0;
    }
  }

  &_info {
    padding: 25px 35px;

    flex-basis: 70%;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;

    gap: 10px 20px;

    .import_event__item {
      flex-basis: 20%;
      min-width: 250px;

      margin: 0;

      border: $panel-border;
      border-radius: $panel-border-radius;
      padding: 10px 15px;

      hr {
        margin: 5px 0 10px 0;
      }

      &_actions {
        display: flex;
        flex-direction: row;
        justify-content: start;
        gap: 0 5px;

        a {
          border-radius: 10px;
          border: 1px solid #778da9;
          padding: 2px 10px;

          transition: ease-in-out .25s;

          &:hover {
            scale: 1.1;
          }
        }
      }
    }
  }
}

.blacklists_exporter {
  display: flex;
  flex-direction: row;

  height: 100%;
}

.blacklists_event {
  padding: 15px 0 0 20px;

  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;

  &_info {
    flex-basis: 30%;
    min-width: 400px;

    hr {
      margin: 10px 0;
    }

    &_actions {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    &_summary {

    }
  }

  &_stats {
    flex-basis: 60%;
    padding: 10px 20px;

    min-height: 80vh;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: normal;
  }

  p {
    font-size: 1.25rem;
  }
}

table.hosts {
  margin: 10px 0 10px 0;
  border-collapse: collapse;

  th, td {
    border: 1px solid #bfc6d2;
    text-align: center;
  }

  td {
    padding: 2px 5px;
  }

  tfoot {
    background-color: #daddde;
  }
}

@keyframes createBox {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}