$border-color: #1b263b;
$border-color-light: rgb(224 224 224);
$panel-border: 1px solid $border-color;
$panel-border-radius: 5px;

$popup-box-shadow: 5px 5px 5px -1px rgba(0,0,0,0.51);

$domain-color: #5386E4;
$ip-color: #79C99E;
$url-color: #E49273;
$email-color: #f187bd;

$color-danger: #d33939;
$color-success: #1fa21f;
$color-warning: #fcaf53;
$color-empty: #b9b9b9;