@import "colors";
@import "animations";

.home-page {
  height: 100%;
  display: flex;

  h1, h2, p {
    &:hover {
      cursor: default;
    }
  }

  h1 {
    position: fixed;
    top: 6vh;
    left: 2vw;
    font-weight: normal;
    font-size: 3rem;
  }

  img.spinning-orbit {
    position: fixed;
    height: 140vh;
    bottom: -70vh;
    left: -60vh;

    opacity: 0.55;

    -webkit-animation: rotating 128s linear infinite;
  }

  &_navigation {
    position: fixed;
    right: 10vw;
    top: 35vh;

    display: flex;
    flex-direction: row;
    gap: 2rem;

    &_group {
      display: flex;
      flex-direction: column;
      padding: 5px;
      gap: 5px;
      font-size: 1.5rem;

      a {
        transition: .25s ease-in-out;

        &:hover {
          transform: translate(10px);
        }

        &:not(:first-child) {
          margin-left: .5rem;
          opacity: 0.75;
        }
      }
    }
  }
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}