* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2dfd0;
}

#canvas {
  width: 100vw;
  height: 100vh;
}

.speed-selector {
  position: absolute;
  left: 77vw;
  bottom: 30px;

  display: flex;
  flex-direction: column;
  gap: 5px;

  width: 20vw;

  background-color: #f2e5d2;

  border: 2px solid black;
  border-radius: 10px;
  padding: 10px 0 10px 15px;

  h2, p, input {
    font-family: "Bahnschrift", sans-serif;
    font-weight: 300;
  }

  input {
    padding: 2px;
    width: 40%;
  }
}