@import "colors";
@import "root";

.job-viewer {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 5px 0;

  &_header {
    position: fixed;
    width: 100%;

    display: flex;
    flex-direction: column;

    background-color: white;

    z-index: 999;

    &_meta {
      width: 100%;

      padding: 2vh 2vw;
      margin-bottom: 10px;
      height: 5vh;

      white-space: nowrap;

      h2, p {
        overflow: hidden;
      }

      .info-block {
        display: flex;
        flex-direction: row;
        justify-items: center;
        align-content: space-evenly;

        gap: 1rem;

        flex-wrap: nowrap;

        p {
          font-size: 0.85rem;
          opacity: 0.75;
          font-style: italic;
        }
      }

      p {
        opacity: 0.75;
      }
    }

    &_summary {
      height: 10vh;

      margin: 0 1vw;
      z-index: 1;

      padding: 10px 0;

      border-top: 2px solid $border-color;
      border-bottom: 2px solid $border-color;

      &::-webkit-scrollbar {
        display: none;
      }

      overflow-y: scroll;

      .host-summary {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        background-color: white;
        border: 1px solid $border-color;
        border-radius: 5px;

        padding: 5px 10px !important;

        &_info {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          width: 100%;

          p.identity {
            max-width: 75%;
            overflow: hidden;
          }
        }

        &_issues {
          margin-top: 4px;

          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          gap: 2px;
        }

        p {
          display: inline-block;

          &.risk-score {
            padding: 2px 6px;
            border-radius: 4px;

            &_danger {
              background-color: $color-danger;
              color: whitesmoke;
            }

            &_warning {
              background-color: $color-warning;
              color: #1b263b;
            }

            &_neutral {
              background-color: $color-empty;
              color: #1b263b;
            }

            &_good {
              background-color: #4cd964;
              color: #1b263b;
            }

            &_proven {
              background-color: $color-success;
              color: whitesmoke;
            }
          }
        }

        transition: .25s ease-in-out;

        &:hover {
          cursor: pointer;
          transform: scale(1.05);
        }
      }
    }
  }

  &_content {
    margin-top: 22vh;

    display: flex;
    flex-direction: row;

    &_nodes {
      position: fixed;

      width: 24vw;
      padding: 5px 10px;

      margin-left: 1vh;

      //border-right: 2px solid $border-color;
    }

    &_node-data {
      position: sticky;
      left: 26vw;

      flex-basis: 73vw;
      padding: 5px 10px;

      display: flex;
      flex-direction: column;
    }

    margin-bottom: 5vh;
  }


}