@import "colors";

nav#navigation-bar {
  position: fixed;
  top: 0;
  padding: 0 40px 0 0;

  z-index: 999;

  width: 100vw;
  height: 4vh;

  display: flex;
  flex-direction: row;
  gap: 0 10px;

  align-items: center;

  border-bottom: 1px solid #1b263b;
  background-color: whitesmoke;

  .navigation-bar_location {
    flex-basis: 40%;
    flex-grow: 1;

    display: flex;
    flex-direction: row;

    align-items: center;
    gap: 0 10px;
  }

  .navigation-bar_current-user {
    justify-self: end;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;

    padding: 0 10px 0 10px;

    border-left: 1.5px solid $border-color;
    min-width: 50px;
  }

  .queue-state {
    flex-basis: 10%;

    align-self: end;

    &__connected, &__failed {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &__connected {
      p {
        margin: 0 2px 0 15px;
      }
    }

    &__failed {
      color: $color-danger;
      opacity: 0.55;
    }
  }
}

