@import "colors";

nav#navigation-bar {
  position: fixed;
  top: 0;
  padding: 0 40px 0 0;

  z-index: 999;

  width: 100vw;
  height: 4vh;

  display: flex;
  flex-direction: row;
  gap: 0 10px;

  align-items: center;

  border-bottom: 1px solid #1b263b;
  background-color: whitesmoke;

  .navigation-bar_location {
    flex-basis: 40%;
    flex-grow: 1;

    display: flex;
    flex-direction: row;

    align-items: center;
    gap: 0 10px;
  }

  .navigation-bar_current-user {
    justify-self: end;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;

    padding: 5px 10px 0 10px;

    border-left: 1.5px solid $border-color;
    min-width: 50px;
  }

  .queue-state {
    flex-basis: 10%;

    align-self: end;

    &__connected, &__failed {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    p {
      margin: 0 2px 0 15px;
      padding: 4px 0 0 0;
    }

    &__connected {

    }

    &__failed {
      color: $color-danger;
      opacity: 0.55;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .queue-jobs {
    z-index: 999;

    position: fixed;
    right: 2vw;
    top: 5vh;

    min-height: 100px;
    min-width: 500px;

    border: 1px solid $border-color;
    border-radius: 10px;
    box-shadow: $popup-box-shadow;

    background-color: whitesmoke;

    visibility: visible;
    opacity: 1;

    transition: visibility 0s, opacity 0.25s ease-in-out;

    &__hidden {
      visibility: hidden;
      opacity: 0;
    }

    &_container {
      h2 {
        display: block;

        padding: 5px 0 5px 10px;
        background-color: #d6d9de;

        font-size: 1.2rem;
      }

      p.empty-placeholder {
        padding: 10px 0;
      }

      &:first-child > h2 {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }

      ul {
        list-style: none;

        max-height: 40vh;
        overflow-y: scroll;

        li {
          padding: 10px 15px;

          h4, p {
            margin: 0;
          }

          h4 {
            font-size: 0.9rem;

            i {
              opacity: 0.55;
              font-size: 0.7rem;
            }
          }


          p {
            font-size: 0.85rem;
          }

          .info {
            display: flex;

          }

          .statuses {
            margin: 10px 0 0 0;

            display: flex;
            justify-content: space-between;
            align-items: center;

            font-size: 0.8rem;

            p {
              flex-basis: 60%;
              flex-grow: 2;
            }

            i {
              flex-basis: 30%;
              text-align: end;
              margin: 0 10px 0 10px;

              &:hover {
                cursor: help;
              }
            }

            svg {
              flex-basis: 10px;
            }
          }

          &:not(:last-child ) {
            border-bottom: 1px solid $border-color;
          }
        }
      }
    }

    &_footer {
      width: 100%;
      background-color: #d6d9de;
      padding: 5px 0 5px 0;

      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;

      a {
        font-size: 1rem;
        margin: 0 10px;
        opacity: 0.85;
      }
    }

    &:hover {
      cursor: default;
    }
  }
}

