* {
    margin: 0;
    padding: 0;
}

html, body, #root, #container {
    height: 100%;
}

.speed-selector {
    position: sticky;
    left: 77vw;
    bottom: 30px;

    display: flex;
    flex-direction: column;
    gap: 5px;

    width: 20vw;

    border: 2px solid black;
    border-radius: 10px;
    padding: 10px 0 10px 15px;

    h2, p, input {
        font-family: "Bahnschrift", sans-serif;
        font-weight: 300;
    }

    input {
        padding: 2px;
        width: 40%;
    }
}